@charset "UTF-8";

.navbar-nav {
  .nav-link {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: calc(80% - 2px);
      left: 50%;
      width: 10px;
      height: 10px;
      background: $brand-primary;
      border-radius: 100%;
      transform: translateX(-50%);
      opacity: 0;
      transition:
        opacity 0.25s ease-out,
        top 0.25s ease-out,
        width 0.25s ease-out,
        height 0.25s ease-out;
    }
  }

  .current-menu-item .nav-link,
  .nav-link.active {
    font-weight: $font-weight-bold;

    &::after {
      opacity: 1;
      top: 80%;
      width: 6px;
      height: 6px;
    }
  }
}

.navbar-brand {
  h1 {
    transition: max-width 0.15s;
  }

  a {
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  .name {
    margin-top: auto;
    margin-bottom: -4px;
  }

  img {
    margin-right: $spacer;
    max-width: 100px;
    transition: max-width 0.3s ease-out;
  }

  &.scrolled {
    img { max-width: 30px; }
    h1 { font-size: $font-size-h6; }
  }
}
