{% extends "base.twig" %}

{% block jumbotron %}
<div class="jumbotron" id="about">
  <div class="container">
    <h2 class="mb-5 text-primary">{{post.intro}}</h2>
    <div class="intro-content content">
      {{post.content}}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <section id="artists">
  	{% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] with { 'loop': loop } %}
  	{% endfor %}
  </section>
{% endblock %}
