{% extends "page.twig" %}

{% block jumbotron %}
<div class="jumbotron" id="about">
  <div class="container">
    <h1 class="mb-5 text-primary">{{post.title}}</h1>
    <div class="intro-content content">
      {{post.content}}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  {% for post in workshops %}
    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] with { 'loop': loop } %}
  {% endfor %}
{% endblock %}
