{% extends "base.twig" %}

{% block navigation %}
<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
	<li class="nav-item">
		<a class="btn btn-outline-primary btn-sm" href="{{site.url}}">← back to home</a>
	</li>
</ul>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron" id="about">
  <div class="container">
    <h1 class="mb-5 text-primary">{{post.title}}</h1>
    <div class="intro-content content">
      {{post.content}}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  var workshop = window.location.search.substring(10); // substring `?workshop=`
  var select = document.querySelector('select[name=workshop]');
  if (select) {
    select.value = workshop;
  }
</script>
{% endblock %}

{% block content %}{% endblock %}
